
<div class="card text-center">
  <div class="card-header">
    Details
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @friend.first_name %>  <%= @friend.last_name %></h5>
    
    <p class="card-text">
      <b>e-mail:</b>
        <%= @friend.email %>
      </p>
      <p class="card-text">
      <b>Telefono:</b>
        <%= @friend.phone %>
      </p>

    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-outline-dark" %> 
    <%= link_to 'Back', friends_path, class:"btn btn-outline-dark" %>

  </div>
  <div class="card-footer text-muted">
   Footer
  </div>
</div>

